* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(68, 71, 70);
    /* background: rgb(243, 202, 197); */
}


#parent_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid; */
    margin: 10px 30px;
}


.file_name {
    display: flex;
    font-size: 18px;
}

.logo img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}


.top_right_icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icon {
    font-size: 35px;
    margin-left: 15px;
    padding: 0 10px;
    border-radius: 50%;
    /* color: grey; */
}

.btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: rgb(150, 206, 243);
    border-radius: 20px;
}

button {
    background: transparent;
    border: none;
}

.menu-bar {
    display: flex;
    padding: 4px 16px;
    /* border-bottom: 1px solid; */
    margin: 0 30px;
}

.menu-items,
.tool-items {
    margin-right: 16px;
    /* color: grey; */
}

.menu-items:hover,
.tool-items:hover {
    background: rgb(185, 185, 185);
    cursor: pointer;
}


.toolbar {
    /* border-bottom: 1px solid black; */
    margin: 3px 30px;
    padding: 10px 20px;
    background-color: rgb(240, 244, 249);
    border-radius: 30px;
}

.tool-items {}

.formula-bar {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    /* border-bottom: 1px solid whitesmoke; */
}

.formula-input {
    flex-grow: 1;
    padding: 4px;
}

.cell-name {
    width: 60px;
    text-align: center;
    border-right: 1px solid;
    padding: 4px;
}

.grid-container {
    flex-grow: 1;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    min-width: 90px;
    height: 20px;
}

th {
    /* background-color: rgb(179, 177, 177); */
    font-weight: normal;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

td:first-child {
    /* background-color: rgb(179, 177, 177); */
    text-align: center;
    position: sticky;
    left: 0;
    z-index: 5;
}

.sheet-tabs {
    display: flex;
    padding: 8px 16px;
    border: top 1px whitesmoke;
}



.sheet-icons {
    padding: 10px 20px;
}


.sheet-tab {
    display: inline;
    padding: 8px 15px;
    background: 1px solid whitesmoke;
    border-radius: 4px 4px 0 0;
    border: 1px solid rgb(207, 205, 205);
    margin-right: 8px;
    transform: rotateX(30deg);
}